/* Give your page a fun background color */
header, footer {
  background: #4F6D7A;
  padding: 10px;
}

h1 {
  text-align: center;
  color: white;
}

body {
  background: #eaeaea;
}

p {
  color: #dd6e42;
  font-style: italic;
}

.assignment-image {
  width: 300px;
  border-radius: 9px;
  border: 5px solid blue;
  margin: 10px;
}

li {
  font-family: Arial, Verdana, sans-serif;
}
